$wrapper-max: 1600px;
$cell-unit: 50px;

// palette no. 202238 colorhunt by Gal Shir https://galshir.com/
$brand-color: #fadcac;
$primary-color: #158467;
$secondary-color: #197163;
$tertiary-color: #065446;
