@import 'utils';
@import 'global';
@import 'variables';
@import 'typography';

// ******* CONTAINERS *******
.wrapper {
    max-width: $wrapper-max;
    margin: 0 auto;
    padding: 0 5%;
}

// ***** Header / Footer *****
header, footer {
    background-color: $tertiary-color;
    padding: 10px;
}

// ***** Main *****
main {
    background-color: $secondary-color;
    padding: 50px 0;
    min-height: 100vh;
}

main .wrapper {
    display: flex;
    // NOTE: Remember to space-between when screen size shrinks to media break point.
    justify-content: space-evenly;

    // Overwrite stretch default.
    align-items: flex-start;
}

// ***** Section *****
.floor-plan {
    @include template-box();
        // Allows scrollbars if the grid gets too big.
        max-width: 50%;
        max-height: 80vh;
        overflow: auto;
}

.floor-plan__div-grid {
    display: flex;
    flex-wrap: wrap;

    margin: 5px;

    // width: This is set dynamically by JavaScript
    position: relative;
}

.floor-plan__div-cell {
    border: 1px solid black;
    background-color: $brand-color;

    width: $cell-unit;
    height: $cell-unit;
}

.tool {
    @include template-box();
    min-height: 800px;
    width: 300px;
    display: flex;
    flex-direction: column;    
}

.tool__div-widget {
    padding: 2% 4%;
    flex-grow: 1;
    
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

// ***** Images *****
.floor-plan__div-img {
    width: 100%;
}

.tool__div-img {
    background-color: $brand-color;
    margin: 5px;
}

.tool__div-img-bed {
    @include cell-width(2);
}

.tool__div-img-sofa {
    @include cell-width(3);
}

.tool__div-img-fridge {
    @include cell-width(3);
}

// FORMS, LABELS, INPUTS, BUTTONS
.form__fieldset-location, .form__fieldset-controls, .form__fieldset-details {
    text-align: center;
    width: 100%;
}

.form__fieldset-location input {
    width: 35%;
}

.form__fieldset-controls input {
    width: 20%;
}

.form__fieldset-details textarea {
    width: 100%;
    resize: none;
}

.form__div-arrow-lat button {
    margin: 0 10px;
}

button {
    background-color: $brand-color;
    padding: 7px 16px;
    font-size: 1.6rem;
    font-weight: bold;
    color: $tertiary-color;
    border-radius: 10px;
}

// MISC
.test {
    position: absolute;
    transform-origin: 0 0;
    transform: translate(350px, 150px) rotateZ(-90deg);

    width: 100px;
    background-color:white;
}